.navigation {
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: #f3f3f3;
}

.navigation-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 20px;
    margin-right: 200px;
}

.navigation-list li {
    list-style-type: none;
    margin-right: 50px;
    font-weight: 900;
    color: #282e2a;
    font-size: 18px
}

.navigation-list li:hover {
    transition: 0.2s;
    cursor: pointer;
    opacity: 1;
    color: #b3b3b3;
}